@charset "UTF-8";

body{
    background-color: #d6fde9;
}

h1{
    
    color: #1e402f
    ;
}

h1#principal {
    text-align: center;
    background-color: #3c805e;
}

h2{
    color: #3c805e;
}

.basico{
    color: #3c805e ;
    font-style: italic;


}

.intermediario{
    color: #80793c;

}

.avancado{
   color: #803c3c;

}
.destaque{
    background-color: #80793ca4;
}